body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #347474;
  margin: 50px auto 0px auto;
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  line-height: 1;
}

h2 {
  color: #63B7AF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 20px;
}

a {
  font-size: 20px;
  font-weight: 900;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 10px 20px;
}

a:hover {
  color: #347474;
}

p {
  line-height: 2;
  font-family: 'Montserrat', sans-serif;

}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 50px auto 50px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 50px;
  font-size: 20px;
}

.top-cloud {
  position: absolute;
  right: 28%;
  top: 50px;
  width: 7%;
}

.bottom-cloud {
  position: absolute;
  left: 30%;
  bottom: 100px;
  width: 7%;
}

.mountain {
  width: 20%;
  margin-bottom: -5px;
}

.middle-container {
  margin: 50px 0 75px;
}

.img-profile {
  border-radius: 100%;
  width: 12%;
  margin: 30px auto;
}

.intro {
  margin: auto;
  width: 25%;
  text-align: justify;
}

.skills h2 {
  margin: 60px 0;
}

.skill-color {
    display: block;
    background-color: #F1FCFC;
}

.skill-row h3 {
  font-size: 1.5rem;
  text-align: center;
}

.skill-row {
  width: 23%;
  margin: 50px auto;
  text-align: left;
}

.main-li {
  list-style-type: disc;
}

.skill-row ul {
  font-family: 'Montserrat', sans-serif;
  list-style-type: circle;
  line-height: 2;
  width: 80%;
  margin: auto;
  text-align: justify;
}

.skill-row li {
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}



.img-hdip, .img-github, .img-elearning{
  display: block;
  width: 20%;
  margin: auto;
}

.udemy-cert {
  display: block;
  width: 100%;
  margin: auto;

}

.git-link {
  font-size: 14px;
  font-weight: 900;
  color: #5B5656;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 99%;
  margin: auto;
  line-height: 3;
}

.git-link:hover {
  color: #347474;
}

.bottom-container {
  background-color: #E4F9F5;
}

.copyright {
  color: #347474;
  font-size: 0.9rem;
  padding: 10px 0 20px;
  margin-bottom: 0;
}

.icon-att {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.icon-att a {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  -moz-border-radius: 8px;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-border-radius: 8px;
  -webkit-box-shadow: #6E7849 0 0 10px;
  -webkit-transition: all 0.5s ease;
  background-color: #11cdd4;
  background-image: -moz-linear-gradient(0deg, #11999e, #11cdd4);
  background-image: -ms-linear-gradient(0deg, #11999e, #11cdd4);
  background-image: -o-linear-gradient(0deg, #11999e, #11cdd4);
  background-image: -webkit-linear-gradient(0deg, #11999e, #11cdd4);
  background-image: linear-gradient(0deg, #11999e, #11cdd4);
  border-radius: 8px;
  border: 1px solid #11999e;
  color: #ffffff;
  display: inline-block;
  font-size: 1.25em;
  margin: auto;
  padding: 15px;
  text-decoration: none;
  text-shadow: #000000 2px 2px 25px;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: #30e3cb;
  background-image: -moz-linear-gradient(0deg, #2bc4ad, #30e3cb);
  background-image: -ms-linear-gradient(0deg, #2bc4ad, #30e3cb);
  background-image: -o-linear-gradient(0deg, #2bc4ad, #30e3cb);
  background-image: -webkit-linear-gradient(0deg, #2bc4ad, #30e3cb);
  background-image: linear-gradient(0deg, #2bc4ad, #30e3cb);
  padding: 15px;
}

@media screen and (max-width: 1024px){

  .top-cloud {
    width: 14%;
    right: 20%;
    top: 40px;
  }

  .bottom-cloud {
    position: absolute;
    width: 14%;
    left: 22%;
    bottom: 80px;
  }

  .mountain {
    width: 30%;

  }

  h1{
    font-size: 6rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3{
    font-size: 2.5rem;
  }

  p{
    font-size: 0.8rem;
  }

  .profile h2{
    padding-bottom: 30px;
  }

  .img-profile {
    width: 32%;
  }

  .intro{
    font-size: 2rem;
    width: 70%
  }

  .skill-row {
    width: 90%;
  }

  .skill-row ul{
    font-size: 1.9rem;
    width: 70%;
    text-align: left;
  }

  .skill-row h3 {
    min-height: 0;
    margin-bottom: 50px;
    text-align: center;
    font-size: 1.6rem;
    padding: 0;
  }

  .img-hdip, .img-github, .img-elearning {
    float: none;
    width: 15%;
    display: block;
    margin: 75px auto 75px auto;
    text-align: center;

  }

  .contact-me {
    width: 90%;
    margin: auto;
  }

  .contact-me p{
    font-size: 1rem;
  }

  .udemy-cert {
    display: block;
    width: 80%;
    margin: 50px auto 50px auto;
  }

  .git-link {
    font-size: 1rem;
  }

  .btn {
    font-size: 3rem;
  }

  .btn:hover {
      font-size: 3rem;
  }

  .copyright {
    font-size: 10px;
  }

  .icon-att {
    font-size: 8px;
  }

  .icon-att a {
    font-size: 8px;
  }
}

@media screen and (max-width: 420px){

.intro {
    width: 85%;
    font-size: 0.8rem;
    }
  }
